<h2> <%= @list.name %></h2>

<div> <%= link_to "Add Movie", new_list_bookmark_path(@list)%></div>



<ul class="list-inline">
  <% @list.bookmarks.each do |bookmark| %>
   <li class="list-inline-item col-md-4">
      <div class="card ">
        <img src =<%= bookmark.movie.poster_url %>>
        <div class= "mt-3 mb-3">
          <p class= "d-inline font-weight-bold"><%= bookmark.movie.title %></p>
          <span><%= bookmark.movie.rating %></span>
        </div>
        <p><%= bookmark.movie.overview %></p>

        <div class= "d-flex justify-content-between mt-3 mb-3">
          <div><%= bookmark.comment %></div>
          <div> <%= link_to "Delete",
            bookmark_path(bookmark.id),
            method: :delete,
            data: { confirm: "Are you sure?" } %></div>

        </div>

      </div>
    </li>
  <% end %>
</ul>




<%= link_to 'Back', lists_path %>
